#book .my-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: bisque;
    overflow: hidden;
    align-items: stretch;
}

.my-page .content {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 8px;
}


.page-number {
    display: flex;
    text-align: center;
    background-color: aqua;
    position: absolute;
    bottom: 0;
}
